
### Java ###
# Compiled class file
*.class
/target/
*.settings
/test-output

# Log file
*.log


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*temp
*tempdir
*tempfile
*tempfiles
*tmp
*tmpdir
*tmpfile
*tmpfiles
*lol

